/*
Theme Name: Well.vn
Theme URI: https://well.vn;
Author: Dakachi
Author URI: 
Description:
Version: 1.0.0
Text Domain: well
*/

.footer-inner {
    padding-top: 50px;
}

.trusted-links-link a  {
    color: #00040B;
}

li.view-all {
    flex-basis: 100%;
}

.header .nav-list {
    max-width: 800px;
    justify-content: center;
}